*{margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;}
nav ul{
    display: flex;
    background-color: black;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 26px;
    
}
.movie ul{
    display: flex;
    flex-wrap: wrap;
}
.movie ul div {
    background-color: black;
    height: 100px;
    width: 19.80vw;
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    
    
}
nav ul li{list-style: none;}
